body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../Photoes/CentralPageBackground.jpeg");
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

main{
    
    text-align: center;
}

section{
    border: 3px solid rgb(85, 55, 0);
    padding: 5%;
    margin: 5%;
}

button{
    margin-right: 2%;
    width: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(155, 125, 95);
    text-align: center;
}

#specialButton{
    width: 35%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(155, 125, 95);
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 45, 20);
}

#infoPanel{
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -20%;
    margin-bottom: 10%;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid rgb(125, 75, 0);
    background-color: rgb(225, 175, 120);
    text-align: center;
    opacity: 0;
    z-index: -2;
    animation-name: n;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

#infoTitle{
    text-align: center;
}

.blur_effect {
    filter: blur(5px);
}

.block_blur_effect{
    filter: blur(0px);
}

#menu{
    position: relative;
    z-index: 1;
    background-color: rgb(195, 165, 100);
    border-radius: 20px 20px 20px 20px;
    opacity: 0.7;
    animation-name: showMenu;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes showMenu {
    from{opacity: 0;z-index: -1;}
    to{opacity: 1; z-index: 1;}
}


@keyframes closeMenu {
    from{opacity: 1;z-index: 1;}
    to{opacity: 0;z-index: -1;}
}

