body{
    background-color: bisque;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    background-image: url("../Photoes/CentralPageBackground.jpeg");
    
    
}
nav{
    grid-row-start: 1;
    grid-row-end: 3;
}
main{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 7;
    text-align: center;
}

section{
    border: 3px solid rgb(85, 55, 0);
    padding: 5%;
    margin: 5%;
}

button{
    margin-right: 2%;
    width: 90px;
    background-color: rgb(155, 125, 95);
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 45, 20);
}

#infoPanel{
    
    width: 80%;
    height: 40%;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid rgb(125, 75, 0);
    background-color: rgb(225, 175, 120);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 7;
    padding-bottom: 45%;
    opacity: 0;
    animation-name: n;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    
}

#infoTitle{
    text-align: center;
}

.blur_effect {
    filter: blur(5px);
}

.block_blur_effect{
    filter: blur(0px);
}

#menu{
    background-color: rgb(195, 165, 100);
    border-radius: 20px 20px 20px 20px;
    opacity: 0.7;
    animation-name: showMenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showMenu {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes closeMenu {
    from{opacity: 1;}
    to{opacity: 0;}
}